


<!-- Modal Editar -->
<div class="modal fade" id="modalEditar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="bi bi-pencil-square me-2"></i>Editar Especialidade
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="descricaoEditar" class="form-label">Descrição da Especialidade</label>
                        <input type="text" class="form-control" id="descricaoEditar" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn-success">
                    <i class="bi bi-check-circle me-2"></i>Atualizar
                </button>
            </div>
        </div>
    </div>
</div>
