@{
    Layout = "_Layout";
    ViewBag.Title = "Página inicial";
}

<h1>@ViewBag.Nome</h1>
<a asp-action="CriarConta" asp-controller="Home" class="btn btn-primary" >Criar conta</a>
<a asp-action="Login" asp-controller="Home">Iniciar sessao</a>
 